*{
    margin: 0;
    padding: 0;
}
.sayt{
    max-width: 1920px;
    width: 100%;
    height: auto;
    padding: 0 50px;
    background-color: aqua;
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #ffff;
    padding: 180px 50px  40px 50px;
}
.content p{
    width: 70%;
    text-align: center;
    margin: 20px 0  35px 0;
    font-size: 20px;

}
.content h1{
    font-size: 50px;
}
button{
    width: 160px;
    height: 50px;
    background-color: greenyellow;
    border: none;
    font-size: 25px;
}